<div><h2>Listado de Turnos de <%=@professional.name%><h2></div><br>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    <% @appointments.each do |a| %>
        <tr>
            <td><%= l a.date, format: :short %></td>
            <td><%= a.patient_name + " "+ a.patient_surname%></td>
            <td>
                <%= link_to "Ver", [@professional, a], :class => 'btn btn-mini btn-outline-dark'%>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= link_to "Volver", professional_appointments_path(@professional), :class => 'btn btn-mini btn-outline-dark'%>
<% if can? :create, Appointment %>
    <%= link_to "Nuevo Turno", new_professional_appointment_path(@professional), :class => 'btn btn-mini btn-outline-success'%>
<% end %>
<div><br>
<%= will_paginate @appointments , renderer: BootstrapPagination::Rails %>
</div>