<h1>Listado de Turnos de <%=@professional.name%><h1>
<%=form_with url: filter_index_professional_appointments_path(@professional), method: :get do |form|%>
    <div>
        <%= form.label :date_filter, "Filtrar por fecha"%>
        <%= form.date_field :date_filter, required:'true' %>
    </div>
    <div>
        <%= form.text_field :professional_id, value: @professional.id, type:'hidden'%>
    </div>
    <div>
        <%= form.submit "Filtrar"%>
    </div>
<% end %>
<table>
    <tr>
        <thead>
            <th>Fecha</th>
            <th>Paciente</th>
        </thead>
    </tr>
    <% @appointments.each do |a| %>
        <tr>
            <td><%= I18n.l(a.date) %></td>
            <td><%= a.patient_name %></td>
            <td>
                <%= link_to "Ver", [@professional, a]%>
            </td>
        </tr>
    <% end %>
</table>
<%= link_to "Volver", professionals_path%>
<% if can? :create, @appointments %>
    <%= link_to "Nuevo Turno", new_professional_appointment_path(@professional)%>
<% end %>
<% if can? :cancel_all, @appointments %>
    <%= link_to "Cancelar todos", cancel_all_professional_appointments_path(@professional), method: :delete, data: {confirm: 'Deseas cancelar todos los turnos de este profesional?'}%>
<% end %>