<div><h2>Editar un Profesional</h2></div><br>
<%= form_for @professional do |p| %>
    <div class="form-group row">
        <%= p.label :name, "Nombre del profesional:", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
            <%= p.text_field :name, required:'true', :class => "form-control"%>
        </div>
    </div>
    <div class="form-group row">
        <%= p.label :phone, "Teléfono del profesional:", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
            <%= p.text_field :phone, required:'true', :class=>"form-control"%>
        </div>
    </div>
    <div class="form-group row">
        <%= p.label :email, "Email del profesional:", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
            <%= p.email_field :email, required:'true', :class=>"form-control"%>
        </div>
    </div>
    <div class="form-group row">
        <%= p.label :specialty, "Especialidad del profesional:", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
            <%= p.text_field :specialty, required:'true', :class=>"form-control"%>
        </div>
    </div>
    <div><br>
        <%= link_to "Volver", professionals_path, :class =>'btn btn-mini btn-outline-dark'%>
        <%= p.submit "Guardar", :class =>'btn btn-mini btn-outline-success' %>
    </div>
<% end %>