<%= form_for @professional do |p| %>
    <div>
        <%= p.label :name, "Nombre del profesional:"%>
        <%= p.text_field :name, required:'true'%>
    </div>
    <div>
        <%= p.submit "Guardar"%>
    </div>
<% end %>
<%= link_to "Volver", professionals_path%>