<h1>Listado de Profesionales<h1>
<table>
    <tr>
        <thead>
            <th scope="col">Nombre</th>
        </thead>
    </tr>
    <% @professionals.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td>
                <%= link_to "Editar", edit_professional_path(p)%>
                <%= link_to "Eliminar", p, method: :delete, data: { confirm: "Desea eliminar este profesional?"} %>
                <%= link_to "Turnos", professional_appointments_path(p)%>
            </td>
        </tr>
    <% end %>
</table>
<%= link_to "Nuevo Profesional", new_professional_path%>