<h2>Listado de Profesionales</h2><br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Acciones</th>
        <tr>
    </thead>
    <tbody>
    <% @professionals.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.phone %></td>
            <td><%= p.email %></td>
            <td><%= p.specialty %></td>
            <td>
                <% if can? :edit, Professional %>
                    <%= link_to "Editar", edit_professional_path(p), :class => 'btn btn-mini btn-outline-dark'%>
                <% end %>
                <% if can? :read, Professional %>
                    <%= link_to "Turnos", professional_appointments_path(p), :class => 'btn btn-mini btn-outline-dark'%>
                <% end %>
                <% if can? :destroy, Professional %>
                    <%= link_to "Eliminar", p, method: :delete, data: { confirm: "Desea eliminar este profesional?"}, :class => 'btn btn-mini btn-outline-danger' %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<% if can? :create, Professional %>
    <%= link_to "Nuevo Profesional", new_professional_path, :class => 'btn btn-mini btn-outline-success'%>
<% end %>
<div><br>
<%= will_paginate @professionals , renderer: BootstrapPagination::Rails %>
</div>