<%= form_for @user do |p| %>
    <div class="form-group row">
        <%= p.label :email, "Email del usuario:", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
            <%= p.text_field :email, required:'true', :class => "form-control"%>
        </div>
    </div>
    <%= p.label :role, "Rol: ", :class => "col-sm-2 col-form-label"%>
    <%= p.select :role, options_for_select(["admin","assistant","consultant"], :selected=> params[:role]),
    {}, { :class => 'span3 controls controls-row' } %>
    <div>
        <%= link_to "Volver", users_path, :class =>'btn btn-mini btn-outline-dark'%>
        <%= p.submit "Guardar", :class =>'btn btn-mini btn-outline-success' %>
    </div>
<% end %>